header {
  background-color: grey;
  margin: auto;
  padding: 50px;
  font-size: 80px;
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
}

h1{
  margin:auto;
}

form{
  margin: 20px;
}

/* TABLE */
table {
  width: 100%;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 3.5em;
}
thead {
  background: #7a7a7a;
  color: #fcfcfc;
}
tbody tr:nth-child(odd){ 
  background: #fcfcfc;
}
tbody tr:nth-child(even){
  background: #dcdcdc;
}
input{
  border-radius: 5px;
}
h2{
  font-size: 40px;
  justify-content: flex-end;
}